<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create a State' : 'Edit a State'" />
</head>
<body>
<h1 th:text="${add} ? 'Create a State:' : 'Edit a State:'" />
<a th:href="@{/states/list}">Back to State List</a>
<br/><br/>
<form th:action="${add} ? @{/states/add} : @{/states/{stateid}/edit(stateid=${m_state.id})}"
      th:object="${m_state}" method="POST">
    <table border="1" style="width:50%">

        <tr th:if="${m_state.id}">
            <td>ID</td>
            <td th:utext="${m_state.id}">...</td>
        </tr>
<tr>
 <td>Sates :</td>
<td style="width:15%"><input type="text" size="40" th:field="*{state}" />
 <div   th:if="${#fields.hasErrors('state')}" th:errors="*{state}"/>
</tr>
<tr style="height:100px">
    <td>Description </td>
    <td style="width:90%;height:100px"><input type="text" size="100" height="40" th:field="*{description}" />
<div   th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>

</tr>

    </table>

    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>