<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Pack Manager</title>
</head>
<body>
<div align="center">
    <h1>Pack List</h1>

    <div>
        <nobr>
            <a th:href="@{/packs/add}">Add new Container</a> |
            <a th:href="@{/}">Back to Index</a>
        </nobr>
    </div>

    <br/><br/>
    <div>
        <nobr>
            <span th:if="${hasPrev}"><a
                    th:href="@{/packs/list?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
            <span th:if="${hasNext}"><a th:href="@{/packs/list?page={next}(next=${next})}">Next</a></span>
        </nobr>
    </div>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Pack ID</th>
            <th>PackKey</th>
            <th>weigth</th>
            <th>State</th>
            <th>Container Number</th>
            <th>Container Adress</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pack : ${listpacks}">
            <td th:text="${pack.id}">Pack ID</td>
            <td th:text="${pack.packkey}">PackKey</td>
            <td th:text="${pack.weigth}">weigth</td>
            <td th:text="${pack.state.state}">State</td>
            <td th:text="${pack.container.qnumber}">Container Number</td>
            <td th:text="${pack.container.country} +' '+ ${pack.container.city} + ' '+ ${pack.container.adress}">
                Container adress
            </td>
            <td>


                <div th:if="not ${allowDelete}">
                    <a th:href="@{/packs/{packid}/edit(packid=${pack.id})}">Edit</a> |
                    <a th:href="@{/packs/{packid}/delete(packid=${pack.id})}">Delete</a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>